<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top px-5 py-3 mainnav" id="mainnav">
      <a class="navbar-brand" href="#">Contessa Global</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Men</a>
            <ul class="submenu">
              <li><a href="index.html" routerLink="/mantshirt">Tshirts</a></li>
              <li><a href="index-v2.html" routerLink="/track">Track Pant</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Women</a>
            <ul class="submenu">
              <li><a class="nav-link" routerLink="/lounge">Lounge Wear</a></li>
              <li><a class="nav-link" routerLink="/bottom">Bottom Wear</a></li>
              <li><a class="nav-link" routerLink="/tshirt">Tshirts</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>