<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
            <ul class="action">
                <li>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span>Add to wishlist</span>
                </li>

                <li>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa grey fa-star" aria-hidden="true"></i>
        </div>
    </div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star grey" aria-hidden="true"></i>
                <i class="fa fa-star grey" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star grey" aria-hidden="true"></i>
                <i class="fa fa-star grey" aria-hidden="true"></i>
                <i class="fa fa-star grey" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/RjvTJY5/7.jpg" alt="" />
        <ul class="action">
            <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
            </li>

            <li>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i
          ><span>Add to cart</span>
        </li>

        <li>
          <i class="fa fa-eye" aria-hidden="true"></i
          ><span>View Details</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="productName">Rayon a-line Dress</div>

      <div class="price-rating">
        <h2>$13.45</h2>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
    </div>
</div>
</div>
</div>
</div>