<section class="contact-page-sec background">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="contact-info-text">
                <h2>Name</h2>
                <span>Divyansu Maheshwari</span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-map-marked"></i>
              </div>
              <div class="contact-info-text">
                <h2>Address</h2>
                <span>50, Sardar Patel Industrial Estate, Narolgam</span>
                <span>Ahmedabad, Gujarat 38205</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="contact-info-text">
                <h2>Email</h2>
                <span>divyansu&#64;gmail.com</span>
                <span>9999999999</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="contact-page-form">
            <h2>Get in Touch</h2>
            <form [formGroup]="formData" (ngSubmit)="send()">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="text" placeholder="Your Name" formControlName="from_name" />
                    @if (formData.get('from_name')?.invalid && formData.get('from_name')?.touched) {
                      <div>
                        @if (formData.get('from_name')?.errors?.['required']) {
                          <small class="text-danger">Name is required.</small>
                        }
                      </div>
                    }
                    
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="email" placeholder="Your Email" formControlName="from_email" required />
                    @if (formData.get('from_email')?.invalid && formData.get('from_email')?.touched) {
                    <div>
                      @if (formData.get('from_email')?.errors?.['required']) {
                      <small class="text-danger">Email is required.</small>
                      }
                      @if (formData.get('from_email')?.errors?.['email']) {
                      <small class="text-danger">Please enter a valid email.</small>
                      }
                    </div>
                  }
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="text" placeholder="Mobile" formControlName="mobile" />
                    @if (formData.get('mobile')?.invalid && formData.get('mobile')?.touched) {
                    <div>
                      @if (formData.get('mobile')?.errors?.['required']) {
                      <small class="text-danger">Mobile is required.</small>
                      }
                      @if (formData.get('mobile')?.errors?.['pattern']) {
                      <small class="text-danger">Mobile must be a 10-digit number.</small>
                    }
                    </div>
                  }
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="text" placeholder="City" formControlName="city" />
                  </div>
                </div>
                <div class="col-md-12 message-input">
                  <div class="single-input-field">
                    <textarea placeholder="Write Your Message" formControlName="message"></textarea>
                  </div>
                </div>
                <div class="single-input-fieldsbtn">
                  <input type="submit" value="Send" [disabled]="formData.invalid" />
                </div>
              </div>
            </form>
            
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-page-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235014.15049961975!2d72.5797426!3d23.0202434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1725470328210!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  